<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <div class="img logo_blue_large"></div>
          <h1>bookin.today is a simple way to book in for your meal</h1>
          <h2 class="font-light">serve to feed</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-2 hidden-sm"></div>
        <div class="col-8">
          <!--<div class="img img-website-mock"></div>
        </div>-->
        <div class="col-2 hidden-sm"></div>
      </div>
    </div>
  </div>


<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
