<nav class="main-nav center">
  <h3>About</h3>
</nav>

<article class="content center">
      <div class="left">
        <h3>About me</h3>

        <div class="image-box left"> <%= image_tag("Herrick 15.jpg", ) %></div><br>

      </div>

  </article>