<nav class="main-nav center">
  <h3>About</h3>
</nav>

<article class="content center">
          <ul>
          <h3>Our Mission</h3>
            <div class="article">
              <div class="float-left">
                <li><%= image_tag("Herrick 15.jpg", width: 250 ) %>
                </li><br>
              </div>
                <div class="left">
                <li><p>
                    I spent around 5 years in the army and one of the things that annoyed me was the lack of tech adoption for everyday things. As the world around us becomes ever more connected and mobile-based I think it's time those in the armed forces deserve some innovation too. Today we're starting with meals but oneday we'll hope to rid the Services of faxmachines and maybe even JPA.
                <p>
                  I'm keen to hear from anyone who has any ideas, no matter how wacky. So please email with any feedback to: <div class="blue">jack@bookin.today</div> </li></br>
                </div>
              </div>
            </div>

           </ul>
  </article>