<nav class="main-nav center"> <h4>Contact Information</h4></nav>

<article class="content center">
  Please contact me with any feedback, suggestions or queries to <div class="blue">jack@bookin.today</div>
</article>

